---
---

<footer class="footer">
  <p>&copy; 2026 Samir Pipalia.</p>
  <div class="footer-links">
    <a href="/">Home</a>
    <a href="/blog/">Blog</a>
    <a href="/#case-studies">Case studies</a>
    <a href="/#contact">Contact</a>
    <a href="/privacy.html">Privacy</a>
  </div>
</footer>
